<div class="container mx-auto">
  <h1>Finance History</h1>

  <div>  
    <div *ngIf="isSignedin === true" class="mt-4"> <div class="m-5">
        <div *ngFor="let revision of revisions" class="border">
          <div>Revision: {{revision.id}}</div>
          <div>Date: {{revision.modifiedTime | date}}</div>
          <button (click)="loadRevision(revision)" class="btn btn-secondary">
            Get Revision Details
          </button>
        </div>
      </div>
    </div>
  
  </div>
  
</div>